* {
    primary: #dcb9f8;
    primary-fixed: #f1dbff;
    primary-fixed-dim: #dcb9f8;
    on-primary: #3f2458;
    on-primary-fixed: #290c42;
    on-primary-fixed-variant: #573a70;
    primary-container: #573a70;
    on-primary-container: #f1dbff;
    secondary: #d1c1d9;
    secondary-fixed: #edddf6;
    secondary-fixed-dim: #d1c1d9;
    on-secondary: #372c3f;
    on-secondary-fixed: #211829;
    on-secondary-fixed-variant: #4e4256;
    secondary-container: #4e4256;
    on-secondary-container: #edddf6;
    tertiary: #f3b7bd;
    tertiary-fixed: #ffd9dc;
    tertiary-fixed-dim: #f3b7bd;
    on-tertiary: #4b252a;
    on-tertiary-fixed: #321016;
    on-tertiary-fixed-variant: #653a40;
    tertiary-container: #653a40;
    on-tertiary-container: #ffd9dc;
    error: #ffb4ab;
    on-error: #690005;
    error-container: #93000a;
    on-error-container: #ffdad6;
    surface: #151217;
    on-surface: #e8e0e8;
    on-surface-variant: #cdc4ce;
    outline: #968e98;
    outline-variant: #4a454d;
    shadow: #000000;
    scrim: #000000;
    inverse-surface: #e8e0e8;
    inverse-on-surface: #332f35;
    inverse-primary: #6f528a;
    surface-dim: #151217;
    surface-bright: #3c383e;
    surface-container-lowest: #100d12;
    surface-container-low: #1e1a20;
    surface-container: #221e24;
    surface-container-high: #2c292e;
    surface-container-highest: #373339;
}
